@charset "UTF-8";

/* CSS  */
:root{

/* 灰階 */
    --deep:#444;
    --dark:#666;
    --grey:#999;
    --light:#f1f1f1;

/* 背景  */
--bg-1:#f2edf0;
--bg-2:#e6ece5;
--bg-3:#ecf0f4;

/* 輔助 */
--lesser-1:#f3e4e4;
--lesser-2:#efdbdb;
--lesser-3:#cdaaab;
--lesser-4:#8f6d6e;


}
*{
    box-sizing: border-box;/* alt+shift+A */
    /*不累加內距與邊距  */

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding: 0;
}
/* 重置字體 */
body {
font-family: sans-serif;
font-size: 100%;
line-height: 1.5;
}
/* 重置標題 */
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}
/* 重置列表 */
ul, ol {
list-style: none;
}
/* 重置圖片 */
img {
display: block;
width: 100%;
}
/* 重置連接 */
a {
display: block;/* 常用來設定尺寸，所以直接把inline(不支援尺寸設定)=>block */
color: burlywood;
text-decoration: none;
}
/* 頁首區 (小小範圍的尺寸，不用根據網頁大小縮放=>>就用固定像素單位)*/

#topbar{/* #是id主題 */
<<<<<<< HEAD
    display:flex;
    padding:30px;
=======
    display: flex;
    justify-content: space-between;
    padding:20px;
>>>>>>> f1b9d7f7a199eb07df6c2eecf254106adec590a8
}
.logo{/* .是class有點像小標題 */
    width: 55px;
}
#topbar ul{
    /* 後面空1格是代表下一層 */
    display: flex;
    justify-content: flex-end; 
}
/* icon選單 */
#topbar .icon a{
/* 範圍比較小用固定單位px */
    width: 35px;
    height: 35px;
    margin: 5px;
}
/* 要不要給階層(空1格)是考量，在其他地方會不會不一樣 */
/* svg會自動等比縮放 (寬度fill，高auto)*/
.icon-fb{ background-image: url(../images/icon-fb.svg);
   /*  background-size: 100% ; 若檔名不是svg才須寫這行*/
}
.icon-ig{background-image: url(../images/icon-ig.svg);}
.icon-line{background-image: url(../images/icon-line.svg);}

.icon-fb:hover{ background-image: url(../images/icon-fb-hover.svg);}
.icon-ig:hover{background-image: url(../images/icon-ig-hover.svg);}
.icon-line:hover{background-image: url(../images/icon-line-hover.svg);}

#topbar .menu { 
/* 導航列項目間距離 */
   border: 2px solid;
}
#topbar .menu a{ 
/* 1.導航列項目間距離 
2.先預留hover上去，線的位置，否則外框會變動*/
    margin: 10px;
    border-bottom: 3px solid transparent;
}

#topbar .menu a:hover{ 
/* 滑上去變色 */
   color: blueviolet;
   border-bottom: #000 3px solid;
}
/* 聯繫我們區 */
#contact{
    /* 跟視窗一樣高? */
    height: 100vh;
    background-color: var(--bg-1);

}

/* .menu{
    display: flex;
    /* justify-content:flex-end; }*/

    