@use "reset";
@use "variable" as *;
@use "function" as *;
@use "keyframes" as *;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=LXGW+WenKai+TC&display=swap');

// @font-face {
//     font-family: Avenue;
//     src: url();
// }

@font-face {
    font-family: kaoly;
    src: url(../webfont/Kaoly\ Demo-Regular.ttf);
}

/* 共用區 */
/* 區塊標題 */
.title {

    // position: relative;
    margin: $s110 0 $s30;

    * {
        //.title裡面的所有子孫
        text-align: center;
    }

    h2 {
        position: relative;
        font-family: $family-en;
        font-size: $f-s-xxxl;
        @include border-b;
        font-weight: $f-w-b;


        &::before,
        &::after {

            content: "";
            position: absolute;
            background-color: $lesser-4;
            border-radius: $r-ex;
        }

        &::before {

            top: -3px;
            left: -10px;
            width: 15px;
            height: 15px;

        }

        &::after {

            bottom: 10px;
            right: -7px;
            width: 10px;
            height: 10px;

        }

    }

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
        // font-weight: $f-w-r;

    }






}



.logo {
    width: 55px;
}

.icon {

    a {
        width: 35px;
        height: 35px;
        margin: $s-xxs;

    }
}

// 迴圈不須被調用，可直接使用
@each $social in fb, ig, line {
    .icon-#{$social} {

        background-image: url(../images/icon-#{$social}.svg);

        &:hover {

            background-image: url(../images/icon-#{$social}-hover.svg);
        }

    }

}

.more {
    width: 100px;
    line-height: 50px;
    /* 單行文字垂直置中 ，可直接設定取代高度*/
    text-align: center;
    background-color: $lesser-4;
    margin-top: $s-lg;


    color: $light;
    border-radius: $r-md;
}




// --------------------------------頁首
#topbar {

    position: fixed;

    top: 0;
    left: 0;

    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $s-xs $s30;


    ul {
        // display: flex;
        // justify-content: flex-end;
        @extend %flex-end;
    }

    .menu {
        padding: $s-x-xs;
        border-radius: $r-ex;
        @include glassmorphism;


        a {
            font-family: $family-en;
            font-weight: $f-w-b;
            margin: $s-xs;
            @include border-b ($width: 2px, $color: transparent);

            &:hover {
                color: $Black;
                @include border-b ($width: 2px, $color: $Black);
            }

        }


    }

}

// 主要內容區-----------------------------------------------
#index {

    section {
        @extend %flex-center;
        flex-direction: column;
        height: 100vh;

        @media ($mediaMd) {
            &#video {
                height: auto;
                padding-bottom: $s110;
            }

        }

    }
}

.list-box {

    display: flex;
    gap: $s30;
    width: $w-80;

    max-width: 1100px; // 最大寬度=>集中注意力

    .item {
        flex: 1;
        @include bordered;
        border-radius: $r-md;

        // 超過區塊 隱藏起來
        overflow: hidden;
    }



}




// 最新消息-----------------------------------------------
#news {
    background-color: $bg-1;

    article {


        // 第一種寫法
        @media($mediaMd) {

            &:last-child {
                display: none;
            }
        }

        // 第二個後讓所有的子元素消失
        @media($mediaSm) {

            &:nth-child(2) {
                display: none;
            }
        }






        a {
            &:hover {

                .txtbox {
                    background-color: $light;
                }

                figure {
                    filter: brightness(70%);
                }

            }


            figure {
                height: 30vh;
                transition: $speed-fast; ///RWD-base

                img {
                    @extend %object-cover;
                }
            }

            .txtbox {

                padding: $s-md;
                transition: $speed-fast; //需設定在元素本人上

                h2 {
                    // font-size: $f-s-lg;
                    // font-weight: $f-w-m ;
                    // margin-bottom: $s-xxs;
                    @extend %list-title; //////???????????
                }

                P {
                    text-align: justify;
                    /* 英文不適用 */
                    @extend %multiple-lines;
                    -webkit-line-clamp: 4;
                }
            }

        }

    }
}

// 服務項目
#services {
    background-color: $bg-2;

    .list-box {
        @media ($mediaSm) {

            flex-direction: column;
            height: 60vh; //主軸垂直，高度轉換為hug，影響到子元素展不開

        }


        .item {

            display: flex;
            align-items: flex-end;
            height: 50vh;


            background-size: cover; //自動縮放，並剪裁掉右下圖片範圍
            background-position: center; // 背景置中需另外寫

            @media ($mediaMd) {

                // 包含第三個以後作用
                &:nth-child(n+3) {
                    display: none;
                }

            }

            @media ($mediaSm) {

                // 包含第三個以後作用
                &:nth-child(n+2) {
                    display: none;
                }

            }


            &:nth-child(1) {
                background-image: url(../images/pt_svc1.jpg);
            }

            &:nth-child(2) {
                background-image: url(../images/pt_svc2.jpg);
            }

            &:nth-child(3) {
                background-image: url(../images/pt_svc3.jpg);
            }

            &:nth-child(4) {
                background-image: url(../images/pt_svc4.jpg);

            }

            a {
                width: 100%; //因為flex會讓a變成hug
                padding: $s-md;
                color: $light;
                background-color: $alpha-b-60;

                h2 {
                    @extend %list-title;
                }

                p {
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    @extend %single-line;

                }

                &:hover {
                    color: $Black;
                    background-color: $alpha-w-70;
                }

            }

        }
    }
}


// 相關影片----------------------
#video {
    background-image: url(../images/bg_contact.jpg);

    background-size: cover;
    background-position: center; //讓圖片置中
    background-attachment: fixed;

    // @media ($mediaMd) {

    //     height: auto;

    // }

    div {
        @extend %flex-center;
        height: 50vh;

        @media($mediaMd) {
            width: 80%;
            height: auto;
        }

        video {
            height: 100%;

            @media ($mediaMd) {

                width: 100%;
                height: auto;

            }
        }

    }


}


// 關於我們

#about {

    position: relative;
    background-color: $lesser-1;

    div {
        position: absolute;
        z-index: 1;
        background-color: $lesser-1;
        height: 100%;
        width: 60%;

        @extend %flex-center;
        flex-direction: column;
        @media ($mediaMd) {
            width: 90%;
            
        }


        p {
            overflow: auto; //
            width: 90%;
            margin-bottom: $s-xxs; //$s-xx1
            padding-right: $s-xs;


            &::-webkit-scrollbar {
                //主要滾動條(包含按鈕範圍)

                width: 12px;
                height: 12px;
            }

            ::-webkit-scrollbar-button {
                //上下左右按鈕
                // display: block; //mac 預設為none
                // background-color: $lesser-3;
                width: 12px; //控制水平
                height: 12px; //垂直
                &:vertical:single-button:start{
                    
                    background-image: url(../images/arrow-up.svg);

                }
                 &:vertical:single-button:end{
                    
                    background-image: url(../images/arrow-down.svg);

                }
                &:vertical:single-button:start{
                    
                    background-image: url(../images/arrow-left.svg);

                }
                 &:vertical:single-button:end{
                    
                    background-image: url(../images/arrow-right.svg);

                }
                // 圖片還沒用進去
            }

            &::-webkit-scrollbar-thumb {
                //滑動手柄

                background-color: $lesser-4;
                border-radius: $r-ex;
            }

            &::-webkit-scrollbar-track {
                //滑動軌道
                background-color: $lesser-2;
                border-radius: $r-ex;
            }


        }
    }

    video {
        position: absolute;
        @extend %object-cover;
        mix-blend-mode: overlay;
        filter: brightness(70%) contract(120%);
    }
}

// 聯絡我們
#contact {
    /* 相對定位，照原本位置排 */
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    /* 跟視窗一樣高? */
    height: 100vh;
    background-color: $bg-1;

    @media ($mediaMd) {
        height: auto;
    }

    // display: flex;

    // /*主軸垂直*/
    // justify-content: center;
    // align-items: center;


    // /* 背景影像排序較高，排序高於背景顏色 */
    // /* background-image: url(../images/banner_1.jpg); */
    // background-color: var(--bg-1);


    .content {
        display: flex;
        width: $w-80;

        // RWD -base
        @media ($mediaSm) {
            flex-direction: column;
        }

        >* {
            flex: 1;
            margin: $s-x-sm;
        }

        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-m;
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: $s-y-md;
        }

        iframe {
            width: $w-100;
            height: 300px;

        }

        // 聯絡表單
        #contactform {

            >* {
                display: block;
                width: $w-100;

            }

            label {
                margin: $s-y-sm $s-xxs;
            }

            .btn-animate {
                @extend %btn-animate;
            }

            input {
                @extend %input-style;
            }

            textarea {

                border-bottom-right-radius: 0;
                @extend %input-style;
                &::-webkit-resizer{
                    background-image: url(../images/arrow-45.svg);
                }
            }
        }







    }

    figure {
        position: absolute;
        width: 250px;

        @media ($mediaMd) {
            width: 200px;

        }

        @media ($mediaSm) {
            //手機板

            display: none;

        }
    }

    .flower_1 {

        left: 0;
        bottom: -30px;
    }

    .flower_2 {


        right: 0; //-30px
        top: 110px;
        /* deg度 */
        transform: rotate(-30deg);

    }

}

// 頁尾區
footer {

    @extend %flex-between;
    padding: $s-md $s30 ;
    background-color: $lesser-4;
    /* 改頁尾區字顏色 */
    color: $light;


    @media ($mediaMd) {
        /*max-width:970  */
        flex-direction: column;
    }

    a {
        /* 改頁尾區a標籤裡面 字顏色 */
        color: $light;
    }


    h2 {
        font-size: $f-s-xl;

        span {
            font-size: $f-s-md
                /* rem 抓瀏覽器的預設大小?? */
        }
    }





    .sitemap {
        display: flex;
        /* 水平排 */

        @media ($mediaMd) {
            margin-top: $s30;
        }

        @media ($mediaSm) {
            flex-direction: column;

            ul {

                padding-left: $s-md;

                li {
                    padding: $s-y-xs;
                }

            }
        }

        /* > 只會指定第一層 */
        >li {
            margin: $s-x-xs;
        }

    }

    small {
        /* 只有它一個要下去=>使用self */
        align-self: flex-end;

        @media ($mediaSm) {

            align-self: flex-start;
            margin-top: $s30;
        }
    }
}