@use "reset";
@use "variable" as *;
@use "function" as *;
@use "keyframes" as *;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=LXGW+WenKai+TC&display=swap');

// @font-face {
//     font-family: Avenue;
//     src: url();
// }

@font-face {
    font-family: kaoly;
    src: url(../webfont/Kaoly\ Demo-Regular.ttf);
}

/* 共用區 */
/* 區塊標題 */
.title {

    position: relative;
    margin: $s110 0 $s30;

    * {
        text-align: center;
    }


    h2 {
        font-family: $family-en;
        font-size: $f-s-xxxl;
        @include border-b;
        font-weight: $f-w-b;

        &::before,
        &::after {

            content: "";
            position: absolute;
            background-color: $lesser-4;
            border-radius: $r-ex;
        }


        &::before {

            top: -5px;
            left: -10px;
            width: 15px;
            height: 15px;

        }

        &::after {

            bottom: 35px;
            right: -5px;
            width: 10px;
            height: 10px;     

        }
    }

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
        font-weight: $f-w-r;

    }






}

// 主要內容區
#index {

    section {
        @extend %flex-center;
        flex-direction: column;
        height: 100vh;
    }
}

.logo {
    width: 55px;
}

.icon {

    a {
        width: 35px;
        height: 35px;
        margin: $s-xxs;

    }
}

// 迴圈不須被調用，可直接使用
@each $social in fb, ig, line {
    .icon-#{$social} {

        background-image: url(../images/icon-#{$social}.svg);

        &:hover {

            background-image: url(../images/icon-#{$social}-hover.svg);
        }

    }

}





// 頁首
#topbar {

    position: fixed;

    top: 0;
    left: 0;

    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $s-xs $s30;


    ul {
        // display: flex;
        // justify-content: flex-end;
        @extend %flex-end;
    }

    .menu {
        padding: $s-x-xs;
        border-radius: $r-ex;
        @include glassmorphism;


        a {
            font-family: $family-en;
            font-weight: $f-w-b;
            margin: $s-xs;
            @include border-b ($width: 2px, $color: transparent);

            &:hover {
                color: $Black;
                @include border-b ($width: 2px, $color: $Black);
            }

        }


    }

}

// 聯絡我們
#contact {
    /* 相對定位，照原本位置排 */
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    /* 跟視窗一樣高? */
    height: 100vh;
    background-color: $bg-1;


    // display: flex;

    // /*主軸垂直*/
    // justify-content: center;
    // align-items: center;


    // /* 背景影像排序較高，排序高於背景顏色 */
    // /* background-image: url(../images/banner_1.jpg); */
    // background-color: var(--bg-1);


    .content {
        display: flex;
        width: $w-80;

        // RWD -base
        @media ($mediaSm) {
            flex-direction: column;
        }

        >* {
            flex: 1;
            margin: $s-x-sm;
        }

        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-m;
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: $s-y-md;
        }

        iframe {
            width: $w-100;
            height: 300px;

        }

        // 聯絡表單
        #contactform {

            >* {
                display: block;
                width: $w-100;

            }

            label {
                margin: $s-y-sm $s-xxs;
            }

            .btn-animate {
                @extend %btn-animate;
            }

            input {
                @extend %input-style;
            }

            textarea {

                @extend %input-style;
            }
        }







    }

    figure {
        position: absolute;
        width: 250px;

        @media ($mediaMd) {
            width: 200px;

        }

        @media ($mediaSm) {
            //手機板

            display: none;

        }
    }

    .flower_1 {

        left: 0;
        bottom: -30px;
    }

    .flower_2 {


        right: 0; //-30px
        top: 110px;
        /* deg度 */
        transform: rotate(-30deg);

    }

}

// 頁尾區
footer {

    @extend %flex-between;
    padding: $s-md $s30 ;
    background-color: $lesser-4;
    /* 改頁尾區字顏色 */
    color: $light;

    a {
        /* 改頁尾區a標籤裡面 字顏色 */
        color: $light;
    }


    h2 {
        font-size: $f-s-xl;

        span {
            font-size: $f-s-md
                /* rem 抓瀏覽器的預設大小?? */
        }
    }

    @media ($mediaMd) {
        /*max-width:970  */
        flex-direction: column;
    }



    .sitemap {
        display: flex;
        /* 水平排 */

        @media ($mediaMd) {
            margin-top: $s30;
        }

        @media ($mediaSm) {
            flex-direction: column;

            ul {

                padding-left: $s-md;

                li {
                    padding: $s-y-xs;
                }

            }
        }

        /* > 只會指定第一層 */
        >li {
            margin: $s-x-xs;
        }

    }

    small {
        /* 只有它一個要下去=>使用self */
        align-self: flex-end;

        @media ($mediaSm) {

            align-self: flex-start;
            margin-top: $s30;
        }
    }
}