// 繼承
@use "../variable" as *;
@use "./mixin" as *;

// extend也在function資料夾裡 所以不可直接調用一整個檔案
// 只需調mixin檔案
// 繼承都會置頂

%flex-center{

    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-between{

    display: flex;
    justify-content: space-between;
}
%flex-end{

    display: flex;
    justify-content: flex-end;


}

// 原先是%img-cover
%object-cover{
    object-fit: cover;
    height: 100%;
    width: 100%;

}
%btn-animate{
    border-radius: $r-ex;
    @extend %flex-center;
    height: 60px;
    width: 210px;

    cursor:pointer;
    margin:$s-md auto;
    @include bordered;
    color:$lesser-4;
    letter-spacing: $s-sm;
    padding-left: $s-sm;

    &:hover{
        @include amt($name: myRotate);

        span{

            @include amt($name:myStorm)
        }

    }
}

%input-style{
    @include bordered;
    padding: $s-xs;
    border-radius: $s-xxs;
    color: $lesser-4;
    font-weight:$f-w-m;
    &:focus{
        outline: 2px solid $lesser-4;
    }
    &::placeholder {

    color: $lesser-4;
    font-size: $f-s-xs;
    font-weight: $f-w-r;

}
}

// 多行省略
%multiple-lines{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

// 單行省略
%single-line{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%list-title {
    font-size: $f-s-lg;
    font-weight: $f-w-m;
    margin-bottom: $s-xs;
}